<div class="row align-items-center default-container">
    <div class="col-lg-8">
      <div class="text-left">
        <h1 class="home-title">Engineering the digital world from end to end.</h1>
        <h2 class="home-author">Shubham Choubey, <span id="dynamic-text">{{ dynamicText }}</span></h2>
        <blockquote>
            I am a Full Stack Java Developer with 3 years experience in building software and  developing java applications using different technologies along with
            exposure to Cloud Services.
        </blockquote>
        <button>
            <a routerLink="/portfolio">
                > Check Portfolio
            </a>
        </button>
      </div>
    </div>
  </div>
  